<h1>Home#index</h1>
<p>Find me in app/views/home/index.html.erb</p>
<div class="btn-blue"> Acheter </div>


<div class="card">
	
	<div class="card-picture"/>
	<%= image_tag "card_picture.png", alt: "Card picture", class: "avatar" %>
    </div>
    <div class="card-category">
    	<p> Apporteur de bonheur </p>
    </div>
    <div class="card-description">
    	<p> C'est cool la vie :-)</p>
    </div>
</div>